*{
    list-style-type: none;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
    font-family: 'Noto Sans KR', sans-serif;
    
}

.top_menu{
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    width: 1240px;
    height: 75px;
    margin: auto;
}

.main_logo{

    width: 242px;
    height: 55px;
    padding-top: 10px;
    padding-left: 50px;
}


.addfunc{
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 15px;
    margin-left: 670px;
}

.addfunc > li{
    margin: 10px;       
}
.addfunc > li>a{
    font-size: 13px;
    color: #000;
}
.addfunc > li:not(:last-child) > a{
    border-right:1px solid gray;
    padding-right: 20px;
}

.nav{
    margin: auto;
    width: 100%;
    height: 57px;
    background-color: #024d71;
}

.nav_section{
    background-color: rgba(0, 0, 0, 0);
    width: 1240px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
}
.nav_section > li{
    margin: auto
}
.nav_section > li:first-child{
    padding-left: 130px;
}
.nav_section > li > a{
    color: #fff;
    font-weight: bold;
    font-size: 18px;

}
.nav_section > li:not(:last-child) > a{
    border-right: 5px dotted #fff;
    padding-right: 70px;
}

.main_img{
    width: 100%;
    height: 710px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.main_img>h1{
    position: absolute;
    padding-top: 140px;
    color: #fff;
    text-align: center;
    font-size: 45px;
}
.main_img>p{
    position: absolute;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.popup{
    position: relative;
    top: -200px;
    width: 1240px;
    height: 315px;
    background-color: #06799b;
    margin: auto;
    display: flex;
}
.popup_left{
    flex:1;
    background-image: url("img/banner_left.png");
}
.popup_right{
    flex: 1;
    background-color: rgba(0, 0, 0, 0);
    width: 620px;
    height: 300px;
}
.popup_right > h3{
    padding: 20px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0)
}
.quickmenu > li{
    float: left;
    width: 20%;
    height: 110px;
    padding-top: 5px;
    padding-bottom: 20px;
    text-align: center;
    
}
.quickmenu>li  > span:first-child{
width: 100%;
height: 110px;


}

.quickmenu > li > span:last-child{
    color: #fff;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

.mc0{
    display: flex;
    width: 1240px;
    height: 310px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0);
    margin-top: -150px;
}
.mc0_left{
    padding-right: 30px;
    flex: 1;
}
.mc0_left> h3{
    font-weight: bold;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 22px;
}
.mc0_left> a{
    padding-top: 0px;
    padding-right: 5px;
    float: right;
    font-weight: bold;
    cursor: pointer;
    
}
.mc0_center{
    flex: 1;
}
.mc0_center> h3{
    font-weight: bold;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 22px;
}
.mc0_center> a{
    padding-top: 0px;
    padding-right: 5px;
    float: right;
    font-weight: bold;
    cursor: pointer;
    
}
.mc0_right{
    flex: 1;
    background-image: url("img/mojib.JPG");
    background-repeat: no-repeat;
    margin-left: 50px;
    
}

.mc1{
    display: flex;
    width: 1240px;
    height: 370px;
    margin: 30px auto auto auto;
    background-color: skyblue;
}
.mc1_left{
    padding: 20px;
    flex: 54;
    background-color: rgb(236, 200, 200);
}
.mc1_left > h3{
    position: absolute;
    background-color: #06799b;
    width: 70px;
    height: 60px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    padding-top: 10px;
}

.mc1_left_img > ul > li{
    width: 234px;
}


.mc1_center{
    flex: 37;
}
.mc1_right{
    flex: 25;
}

.banner{
    background-color: #e5e5e5;
    width: 100%;
    height: 80px;
}

footer{
    background-color: #2f3436;
    width: 100%;
    height: 162px;
    
}

.footer_up{
    height: 67px;
    border-bottom: 1px solid #44494a;
}

.footer_down>div{
    margin: auto;
    width: 1240px;
    height: 95px;
}
.footer_down>div>p{
    display: flex;
}
.w-100{
    position: relative;
    width: 100%;
    height: 650px;
    padding-top: 20px;
}

.gongji0{
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}
.gongji0 > li > a{
    font-size: 18px;
    font-weight: bold;
}
.gongji0 > li:last-child{
    color: #06799b;
    font-weight: bold;
    text-align: right;
}

.gongji1{
    padding-top: 15px;
}
.gongji1 > li > span:first-child{
    float: left;
    width: 70%;
}
.gongji1 > li > span:last-child{
    float: right;
    text-align: right;
    width: 30%;
    color: #06799b;
    font-weight: bold;
}
.gongji_center1{
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}
.gongji_center1 > li{
    left: 0px;
    overflow: hidden;
    
}
.gongji_center1 > li > a{
    font-size: 18px;
    font-weight: bold;
}
.gongji_center1 > li > img{
    transition: all 0.2s linear;
    width: 150px;
    height: 150px;
}
.gongji_center1 > li > img:hover{
    transform: scale(1.4);
}

.gongji_center2 > li > span:first-child{
    float: left;
    width: 70%;
}
.gongji_center2 > li > span:last-child{
    float: right;
    text-align: right;
    width: 30%;
    color: #06799b;
    font-weight: bold;
}

#thum0 > img{
    width: 236px;
    height: 210px;
    overflow: hidden;
    transition: all 0.2s linear;
}

#thum0 > img:hover{
    transform: scale(1,2);
}
.title{
    display: block;
    font-size: 18px;
    margin: 15px 0px 15px 0px;
}
.cont{
    font-size:14px
}